@model Genre

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <form method="post">
        <span>Name:</span> @Model.Name<br/>
        <input type="submit" value="Delete" class="btn btn-danger"/>
    </form>
    
</div>
</body>
</html>