@model Genre

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <h1>Edit Genre</h1>
    <form class="container" method="post">
        <div class="my-3">
            <label>Genre Name</label>
            <input type="text" name="Name" value="@Model.Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <input type="submit" value="Update" class="btn btn-primary"/>
    </form>
</div>
</body>
</html>